@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0 auto;
	padding: 0;
	border: 0;
    font-weight: 400;
    font-family: "Oxygen";
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #F7F7F7;
}

.wrapper__header {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 940px;
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}

.header__wrapper {
    background-image: url("../img/header__pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 17px 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.item__link:hover, .header__link:focus, .header__link:active {
    opacity: 75%;
}

.header__intro-wrappper {
    max-width: 940px;
    padding-top: 100px;
    padding-bottom: 157px;
}

.header__title {
    font-family: "Lora";
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}

.header__subtitle {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    opacity: 63%;
    padding-bottom: 31px;
}

.button__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 167px;
    padding: 12px 31px;
    border-radius: 3px;
    border-style: none;
    background-color: #DD783F;
}

.button__item-link {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.wrapper__nav {
    background-color: #FFFFFF;
}

.menu__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 940px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.menu__nav-item {
    padding-top: 13px;
    padding-bottom: 13px;
}

.menu__nav-link {
    text-decoration: none;
    font-family: "Lora";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
}

.common__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 940px;
    padding-top: 60px;
    padding-bottom: 16px;
}

.common__text {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-bottom: 17px;
    border-bottom: 1px solid #DEDEDE;
}

.featured__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.data__tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 9px 7px 9px;
    width: 90px;
    margin-left: 0;
    border-radius: 3px;
    background-color: #DD783F;
}

.tag__name {
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
}

.featured__data-first, .featured__data-second {
    max-width: 460px;
    margin: 7px 10px;
    padding: 20px 20px 15px 20px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured__data-first {
    width: 100%;
    background-image: url("../img/featured-shine__pic.png");
}

.featured__data-second {
    width: 100%;
    background-image: url("../img/featured-lantern__pic.png");
}


.f-headline__title {
    font-family: "Lora";
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 111px;
    margin-bottom: 12px;
}

.f-headline__subtitle {
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 70%;
    margin-bottom: 12px;
}

.data__creator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.creator__userfiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.f-creator__date, .m-creator__date {
    margin: 0;
}

.userfiles__logo {
    padding: 5px 10px 4px 0;
}

.f-userfiles__name, .f-creator__date{
    font-family: "Lora";
    font-size: 12px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 70%;
}

.m-userfiles__name, .m-creator__date{
    font-family: "Lora";
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.creator__date {
    margin: 0;
}

.wrapper__most {
    padding-bottom: 89px;
}

.most__table {
    padding-bottom: 89px;
    align-content: space-around;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6px 12px 19px 12px;
}

.most__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.most__data-first, .most__data-second, .most__data-third,
    .most__data-fourth, .most__data-fifth, .most__data-sixth {
        max-width: 296px;
        margin: 6px 12px;
        flex: 1;
        background-color: #FFFFFF;
        color:#2E2E2E;
}

.image__add {
    width: 100%;
}

.m-data__description {
    padding: 14px 13px 6px 13px;
}

.m-discription__headline {
    padding-bottom: 13px;
}

.m-headline__title {
    font-family: "Lora";
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.m-headline__subtitle {
    height: 40px;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.footer__wrapper {
    background-image: url("../img/footer__pic.png");
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url('../img/footer__pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}